@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: #dde1e7;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 90%;
    margin-top: 5rem;
    border: #a970de solid 3px;   
    border-radius: 5px;

}

#title {
    text-align: center;
    background-color: #7600d5;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.60rem;
}


@media screen and (min-width: 600px) {
    .container {
       max-width: 50%; 
    }
}

